<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <title>
        Quiz | itDAGENE
        {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="{{ STATIC_URL }}lib/unsemantic/assets/stylesheets/unsemantic-grid-responsive-tablet.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css">
    {% block include %}
    {% endblock %}
</head>
<body>
    <div class="grid-container">
        <div class="grid-70 push-15 text-center">
            <img src="{{ STATIC_URL }}img/itdagene.svg" id="logo" />
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>
